body {
	margin: 0;
}

.wrapper {
	display: flex;
	height: 100%;
}

.column {
	width: 50%;
	height: auto;
	/* height: 100vh; */
	border: 5px double lightsteelblue;
	overflow-y: scroll;
}

.left-column {
	background-color: lightcyan;
}

.right-column {
	background-color: black;
	color: white;
}

.table-wrapper>table {
	padding: 1rem;
}

table {
	border-spacing: 1px;
}

td,
th {
	border: 1px black solid;
}

/* 行番号表示{ */
.code {
	counter-reset: line-number;
}

.code>span {
	counter-increment: line-number;
	display: list-item;
	padding-left: 0.5rem;
	margin-left: 2rem;
}

.code>span::marker {
	content: counter(line-number);
	color: #aaa;
}

/* 文字種ハイライト */
.console-digit {
	color: chartreuse;
}

.console-symbol {
	color: deepskyblue;
}

.console-upper {
	color: darksalmon;
}